<%= stylesheet_link_tag  "footer", :media => "all" %>

<div id="footer-wrap">
	<div class="container">
        <div id="footer" class="span-24">
                <div class="span-8">

                    <h2><a href="/newsletter">sign up for our newsletter</a></h2>
                        <div id="copyright">
                        	<a class="foot-logo left" href="/">elc</a>
                        	<span class="left">
                                &copy; 2012 ELC Technologies.<br/>
                                All rights reserved.
                            </span>
                        </div>
                </div>
                <div class="span-4">
                        <ul class="foot-nav">
                                <li class="top-border"><a href="/services">Services</a></li>
                                <li><a href="/projects">Projects</a></li>
                                <li><a href="/mobile">Mobile</a></li>
                                <li><a href="/cloud">Cloud</a></li>
                                <li><a href="/apps">Web</a></li>
                        </ul>
                </div>
                <div class="span-4">
                        <ul class="foot-nav">
                                <li class="top-border"><a href="/about">About Us</a></li>
                                <li><a href="/careers">Careers</a></li>
                                <li><a href="/privacy">Privacy</a></li>
                                <li><a href="/terms">Terms</a></li>
                        </ul>
                </div>
                <div class="span-4">
                        <ul class="foot-nav">
                                <li class="top-border"><a href="/contact">Contact</a></li>
                                <li><a href="/whitepapers">White Papers</a></li>
                                <li><a href="http://www.rubyglob.com">Blog</a></li>
                                <li><a href="/newsletter">Newsletter</a></li>
                        </ul>
                </div>
                <div class="span-4 last">
                        <ul class="foot-nav">
                                <li class="top-border"><a class="twitter"  href="http://twitter.com/elctech">Twitter</a></li>
                                <li><a class="facebook" href="http://www.facebook.com/group.php?gid=121829644521328">Facebook</a></li>
                                <li><a class="flickr" href="http://www.flickr.com/groups/elctech/">Flickr</a></li>
                                <li><a class="rss" href="http://feeds.feedburner.com/ElcCodeFeed">RSS Feed</a></li>
                        </ul>
                </div>
        </div>
    </div>
</div>