<div class="container">

	<div id="header">
		<h1 id="logo"><a href="/">BETH</a></h1>
		<div id="welcome">Welcome to Yi Wu Beth</div>

		<ul id="nav">
			<li><a  id="n-ab" href="#">contact us</a></li>
			<li><a  id="n-a" href="#">yiwu</a></li>
			<li><a  id="n-c" href="#">inquery</a></li>
			<li><a  id="n-m" href="#">faqs</a></li>
			<li><a  id="n-p" href="#">products</a></li>
			<li class="no-margin"><a  id="n-s" href="#">services</a></li>
		</ul>
	</div>

</div>
