<div class="container">

	<div id="header">
		<h1 id="logo"><a href="/">BETH</a></h1>
		<div id="welcome">Welcome to Yi Wu Beth</div>

		<ul id="nav">
			<li><a  id="n-ab" href="/about">contact us</a></li>
			<li><a  id="n-a" href="/apps">yiwu</a></li>
			<li><a  id="n-c" href="/cloud">inquery</a></li>
			<li><a  id="n-m" href="/mobile">faqs</a></li>
			<li><a  id="n-p" href="/projects">products</a></li>
			<li class="no-margin"><a  id="n-s" href="/services">services</a></li>
		</ul>
	</div>

</div>
