<div class="container">
	<div class="content">
		
		<div id="bannerslide">
			<div class="slide-container">
				<div class="slides">
					
					<div id="banner1" class="home-banner">
						<h1>Professional translation</h1>
						<p>English Arabic Spanish Portuguese German Korean Japanese ...</p>
						<a class="readmore" href="/espn">read more</a>
					</div>
					
					<div id="banner1" class="home-banner">
						<h1>Export Agents</h1>
						<p>Any port that you spcify</p>
						<p>Delivery on Time</p>
						<a class="readmore" href="/espn">read more</a>
					</div>
					
					<div id="banner2" class="home-banner">
						<h1>Purchase Agent</h1>
						<p>Find any products you want</p>
						<p>Quality assurance</p>
						<p>Best Price</p>								
						<a class="readmore" href="/cisco">read more</a>
					</div>

					<div id="banner1" class="home-banner">
						<h1>Business services</h1>
						<p>Ticket booking</p>
						<p>Hotel reservation</p>
						<p>Airport pick up and see off</p>
						<a class="readmore" href="/espn">read more</a>
					</div>

				</div>
			</div>

			<div class="pnav">
				<div class="prevnext"><a href="#" class="previous">previous</a></div>
				<div class="prevnext"><a href="#" class="next">next</a></div>
			</div>

		</div>
		
	</div>
</div>

<div class="container-shadow">
	<div class="span-shadow">
	</div>
</div>


<div class="container">
	<p>BETH Co.,Ltd. is a professional and experienced export agent based in the largest China general merchandise trade and distribution center ---Yiwu. We believe in providing the best standard of service for our clients; We are specialized in each step in the process of export service and understand what our clients are looking for,providing everything they want.</p>
	<p>With constant efforts and the spirit of quality products and services, under the management of a professional international team, BETH has established a great many clients with our rich experience, reliable quality and firm credit and earned an excellent reputation.<p>
	<img src="assets/beth-with-customer.jpg" style="padding:  5px 5px;" align="right"></img>
	<p>We have built very long term relationship with our clients, by ensuring a very strict Quality Control in the factories. we provide our clients with the finest jewelry, hardware, hats, wigs, masks, fashion accessories,  phone accessories, watches, etc.   We have our own factories and meanwhile, we have nice cooperation with suppliers who run hundreds of factories in the all field of commodities.<p>
	<p>If you do not see a product in our catalogue it does not mean we can not provide it! Our experience and extensive network enables us to respond very quickly to any demand from our clients! Just ask us and we will find it for you!<p>
	<p>We have another office in Canada which will help our customers with custom clearance and arrange the shipping company in Americas, and we plan to have offices in every continent.<p>
	</p>
</div>
