<div class="container">
	<div class="content">
		
		<div id="bannerslide">
			<div class="slide-container">
				<div class="slides">
					<div id="banner2" class="home-banner">
						<h1>Built to Scale</h1>
						<p>ELC partnered with Cisco to build a secure and robust social network application that easily scaled up to meet the demands for highly trafficked sites including NASCAR and </p>								
						<a class="readmore" href="/cisco">read more</a>
					</div>

					<div id="banner1" class="home-banner">
						<h1>The Cloud Advantage</h1>
						<p>ELC brought ESPN’s social community onto the cloud, immediately reeducating costs and resolving critical scalability issues.</p>
						<a class="readmore" href="/espn">read more</a>
					</div>
					
				</div>
			</div>

			<div class="pnav">
				<div class="prevnext"><a href="#" class="previous">previous</a></div>
				<div class="prevnext"><a href="#" class="next">next</a></div>
			</div>

		</div>
		
	</div>
</div>
<div class="container-shadow">
	<div class="span-shadow">
	</div>
</div>
